<div class="container" id="admin-page">

  <aside class="sidenav">
    <%- partial ('menu-side.ejs') %>
  </aside>

  <div class="main-content">

    <div class="head-content">
      <a class="menu-button" href="#">
        <div class="menu-arrow aright text-center">
          <i class="fa fa-chevron-right pull-left"></i>
        </div>
      </a>
      <a class="menu-button" href="#">
        <div class="sr-only menu-arrow aleft text-center">
          <i class="fa fa-chevron-left pull-left"></i>
        </div>
      </a>
      <div class="menu-title">
        <h4><span class="name-param">Products Samples</span></h4>

      </div>
      <!--<button type="button" class="btn btn-primary">Add product sample</button>-->
    </div>

    <div class="detail-content" id="product-page">
      <ul class="breadcrumb">
        <li><a href="/acp"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Product Samples</li>
      </ul>


      <ul class="nav nav-tabs">
        <li class="hidden active"><a data-toggle="tab" href="#view-mockup">View Product</a></li>
        <li class="hidden"><a data-toggle="tab" href="#add-mockup">Add Mockup</a></li>
      </ul>

      <div class="tab-content">
        <div id="view-mockup" class="tab-pane fade in active">
          <table class="table table-hover">
            <thead>
            <tr>
              <th class="sr-only">ID</th>
              <th>OrderID</th>
              <th>Image</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(foundMockup, function(mockup) { %>
            <tr class="each-mockup">
              <td class="sr-only mockup-id"><%= mockup.id %></td>
              <td style="width:10px">
                <form class="updateOrder" action="/acp/sortby?id=<%= mockup.id %>" method="post">
                  <input style="width:50px;text-align:center" type="text" name="orderid" value="<%= mockup.orderid %>">
                </form>
              </td>
              <td>
                <img src="<%= mockup.image[0].image.frontimg %>">
                <img src="<%= mockup.image[0].image.backimg %>">
              </td>
              <td><%= mockup.name %>
                <p style="margin-top:-20px;color:#b1b1b1">From $<%= mockup.cost[0].cost %></p>
              </td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-default" href="/inventory/itemView?id=<%= mockup.id %>"><i
                      class="fa fa-pencil"></i></a>
                  <a class="del-mockup btn btn-default hidden" href="#"><i class="fa fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <% }) %>

            </tbody>
          </table>
        </div>
        <div id="add-mockup" class="panel panel-default tab-pane fade hidden">
          <div class="panel-heading">Add new mockup<strong></strong></div>
          <div class="panel-body">
            <form class="form-horizontal" id="add-new-mockup">
              <div class="form-group">
                <label class="control-label col-sm-2" for="brand">Brand</label>
                <div class="col-sm-10">
                  <input type="text" class="input-lg form-control" name="brand" id="brand">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="input-lg form-control" name="name" id="name">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="cost">Base Cost</label>
                <div class="col-sm-10">
                  <input type="text" class="input-lg form-control" name="cost" id="cost">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="minPay">Recommend Price</label>
                <div class="col-sm-10">
                  <input type="text" class="input-lg form-control" name="minPay" id="minPay">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="5" id="richText" name="description"></textarea>
                </div>
              </div>
              <hr>

              <div class="form-group">
                <label class="control-label col-sm-2" for="color">Color</label>
                <div class="col-sm-10">
                  <select name="color" class="selectoption" data-width="400px" multiple
                          data-selected-text-format="count > 3" id="color">
                    <% _.each(optionColor, function(color) { %>
                    <option style="background:<%= color.value %>;color:#FFF;text-shadow:2px 1px 2px #7d7d7d;"
                            value="<%= color.value %>"><%= color.name %></option>
                    <% }) %>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="size">Size</label>
                <div class="live-add-size col-sm-10">
                  <% _.each(optionSize, function(size) { %>
                  <div class="data-size checkbox">
                    <label><input type="checkbox" name="size" value="<%= size.value %>"><%= size.name %></label>
                    <input type="text" class="pull-right" name="pricesize" value="0">
                  </div>
                  <% }) %>
                  <p style="margin-top:15px"><a data-toggle="collapse" data-target="#show-add-size" href="#"><i
                        class="fa fa-plus"></i> Add more size</a></p>
                  <div class="collapse" id="show-add-size">
                    <input type="text" class="col-xs-12 col-sm-3 input-lg" name="size-name" id="size-name"
                           placeholder="Name">
                    <input type="text" class="col-xs-12 col-sm-3 input-lg" name="size-value" id="size-value"
                           placeholder="Value">
                    <input type="text" class="col-xs-12 col-sm-3 input-lg" name="size-price" id="size-price"
                           placeholder="Price">
                    <a class="btn-add-size col-xs-12 col-sm-3 btn btn-default"><i class="fa fa-plus"></i> Add</a>

                  </div>
                </div>
              </div>

              <input class="sr-only" name="front-img">
              <input class="sr-only" name="front-img-id">
              <input class="sr-only" name="back-img">
              <input class="sr-only" name="back-img-id">

            </form>
            <hr>
            <div class="form-group">
              <label class="control-label col-sm-2" for="front-img">Front Image</label>
              <div class="col-xs-10">
                <div class="col-xs-12 col-sm-6">
                  <form action="/uploader" class="dropzone" id="frontImage"></form>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="back-img">Back Image</label>
              <div class="col-xs-10">
                <div class="col-xs-12 col-sm-6">
                  <form action="/uploader" class="dropzone" id="backImage"></form>
                </div>
              </div>
            </div>

          </div>

          <div class="panel-footer">
            <button type="submit" class="add-mockup btn btn-default"><i class="fa fa-plus-circle"></i> Add new</button>
          </div>

        </div>

      </div>


    </div>
  </div>

</div>


